body, html {
  background: #111;
  color: #eee;
  font-family: monospace;
  color: #3c3;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
}

textarea {
  color: #3c3;
  font-family: monospace;
  background: transparent;
  font-size: 16px;
  width: 89%;
  border: 0;
  outline: none;
  height: 40px;
}

input {
  width: 10%;
  float: right;
  border: 1px solid #3c3;
  background: transparent;
  color: #3c3;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  height: 40px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
input:hover {
  opacity: 1;
}

select {
  font-family: monospace;
  background: transparent;
  color: #3c3;
  border: none;
  cursor: pointer;
  max-width: 440px;
}
#examples {
  margin: 1em 0;
  float: right;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
#examples:hover {
  opacity: 1;
}

#output {
  clear: both;
  position: relative;
}
#errors {
  position: absolute;
  color: red;
  top: 0;
  background: rgba(0,0,0,0.8);
  width: 600;
  font-size: 16px;
  color:red;
}

